* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Styles */
nav {
  background-color: red;

  color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

nav h1 {
  font-size: 3rem;
  padding: 5px 5px 5px 10%;
  background-color: #252525;
}

nav ul {
  display: flex;
  font-size: 2rem;
}

nav ul :hover {
  color: #252525;
}

nav li {
  margin: 0px 10px;
  margin-right: 2rem;
  list-style-type: none;
}

nav li a,
#footer li a {
  color: white;
  text-decoration: none;
}

#subtitle-div {
  display: flex;
  padding: 20px 0px;
  background: url(https://t4.ftcdn.net/jpg/04/44/56/61/360_F_444566120_zSCv01llCnsoFACUuInCGyReIezOs8qK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  padding-right: 50px;
}

#subtitle {
  margin-right: 15px;
  font-size: 30px;
  background-color: white;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

/* About Me styling */
#heading {
  background-color: #252525;
  color: white;
}

#heading p {
  position: relative;
  left: 15%;
  font-size: 22px;
  max-width: 70%;
}

#heading h2 {
  padding-top: 1%;
  position: relative;
  left: 42%;
  font-size: 3em;
  color: red;
}

.paragraph1 {
  margin: 40px 0px;
}

.paragraph2 {
  padding-bottom: 2%;
}

/* About Me Selfie styling */
#heading img {
  width: 20em;
  height: 25em;
  position: relative;
  left: 40%;
  margin-top: 2em;
}

/* Portfolio styling */
#project-container h2 {
  position: relative;
  text-align: center;
  font-size: 3em;
  padding-bottom: 1%;
  margin-top: -4%;
}

#project-container {
  background-color: red;
  padding: 5% 0px;
  color: white;
}
#project-container h2 {
  color: red;
}
/* Portfolio projects styling */
#card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  color: black;
  margin: 10px;
  border: 3px solid black;
  flex-basis: 915px;
  padding: 4em 4em 4em 6em;
  max-width: 40%;
}

#project1,
#project2,
#project3 {
  position: relative;
}

.project-text {
  position: absolute;
  background-color: white;
  padding: 15px;
  left: 1%;
  bottom: 7%;
  font-size: 150%;
}

#project1 {
  background: url(../images/Screen\ Shot\ 2023-04-15\ at\ 7.34.29\ PM.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 2;
  flex-basis: 100%;
  padding: 80px;
  max-width: 70%;
  height: 15em;
  background-position-y: 10%;
}

#project1,
#project2,
#project3 {
  cursor: pointer;
}

#project1 h5 {
  font-size: 1.5em;
}

#project2 h5,
#project3 h5 {
  font-size: 95%;
}
#project2 p,
#project3 p {
  font-size: 75%;
}

#project2 {
  background: url(../images/Screen\ Shot\ 2023-04-15\ at\ 7.35.25\ PM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  padding: 6rem;
}

#project3 {
  background: url(../images/Screen\ Shot\ 2023-04-15\ at\ 7.36.13\ PM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 13%;
  padding: 6rem;
}

/* Footer styling */
#footer ul {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#footer h2 {
  position: relative;
  margin-top: -8%;
  font-size: 3em;
  color: #252525;
  padding-bottom: 3%;
  left: 40%;
}

#footer {
  padding: 10% 0px 2% 0px;
  background-color: red;
  margin-top: -1%;
}

#footer a :hover {
  color: #252525;
}

/* Resume page styling */
#resume-container {
  background-color: #252525;
  color: white;
  padding: 5% 0;
}

#resume-list {
  margin-left: 5%;
  font-size: 1.5rem;
}

#resume-list span {
  color: red;
  font-size: 2rem;
}

#resume-download-link {
  text-decoration: none;
}
#resume-title {
  color: red;

  font-size: 4rem;
  position: relative;
  left: 5rem;
}

/* Contact page styling */
#contact-container {
  background-color: #252525;
  padding: 5rem 0;
}

#contact-container h1 {
  font-size: 3rem;
}

#requirements {
  color: white;
  font-size: 2rem;
  position: relative;
  left: 1%;
}
.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 15%;
}
.form p {
  color: white;
  margin-top: 5px;
  font-size: 2rem;
}
#contact-container h1 {
  color: red;
  margin-left: 1%;
}
#textarea {
  padding: 0 15% 5% 0;
}
#submit-button {
  display: block;
  padding: 6px 15px;
  margin-top: 3%;
}

/* Media Query for Mobile*/
@media screen and (max-width: 430px) {
  /* Nav styling */
  nav h1 {
    padding: 10px 167px;
    margin-left: -10%;
  }

  nav {
    flex-direction: column;
    padding-bottom: 23em;
  }

  nav ul {
    flex-direction: column;
  }
  nav ul li {
    padding-top: 0.5em;
  }

  /* About Me styling */
  #heading h2 {
    padding-top: 3%;
    left: 0;
    margin-left: 20%;
  }

  #heading img {
    left: 9%;
  }

  #heading p {
    left: 13%;
    font-size: 16px;
    max-width: 80%;
  }

  /* Portfolio styling */
  #project-container h2 {
    margin-top: -2%;
  }
  /* Portfolio project styling */
  #card-container {
    position: relative;
    left: -6%;
    flex-direction: column;
  }

  .card {
    flex-basis: 300px;
    margin-left: 30px;
    padding: 10em 8em;
  }

  #project1 {
    padding: 160px;
    max-width: 100%;
    width: 80%;
    margin-left: 50px;
  }

  #project2,
  #project3 {
    padding: 38%;
    left: 2%;
  }

  .project-text {
    left: 12%;
    bottom: 30%;
    font-size: 100%;
  }

  #project1 .project-text {
    bottom: 20%;
  }

  .project-text a {
    text-decoration: none;
  }

  /* Footer styling */
  #footer {
    margin-top: -4%;
  }

  #footer h2 {
    font-size: 2em;
    padding-left: 42%;
    left: -13%;
  }

  #footer ul {
    flex-direction: column;
    align-items: center;
    margin-left: -9%;
  }
  #footer li {
    padding-top: 5%;
  }
  /* Resume page styling */
  #resume {
    margin-left: 32%;
    font-size: 1.5rem;
  }
  #resume ul {
    margin-left: -27%;
  }
  #resume-download {
    margin-left: -15%;
  }

  #resume-title {
    text-align: center;
    left: 0;
  }

  #resume span {
    left: -10px;
    position: relative;
  }
  /* Contact page styling */
  #contact-container h1 {
    margin-left: 26%;
  }
  #requirements {
    font-size: 1.5rem;
    text-align: center;
  }
  .form {
    margin-left: 20%;
  }

  .form input {
    width: 75%;
  }
  #submit-button {
    margin-left: 20%;
  }
}

/* Media Query for Tablet */
@media screen and (min-width: 430px) and (max-width: 850px) {
  /* Nav styling */
  nav h1 {
    padding: 10px 360px;
    margin-left: -6%;
  }
  nav {
    flex-direction: column;
    padding-bottom: 23em;
  }

  nav ul {
    flex-direction: column;
    margin-left: -15px;
  }
  nav ul li {
    padding-top: 0.5em;
  }
  /* About Me styling */
  #heading h2 {
    padding-top: 3%;
    left: 0;
    margin-left: 35%;
  }

  #heading img {
    left: 28%;
  }

  #heading p {
    left: 13%;
    font-size: 16px;
    max-width: 80%;
  }

  /* Portfolio styling */
  #project-container h2 {
    margin-top: -2%;
  }

  /* Portfolio project styling */
  #card-container {
    position: relative;
    left: 0%;
    flex-direction: column;
  }

  .card {
    flex-basis: 400px;
    margin-left: 30px;
    padding: 0em 15em;
  }

  #project1 {
    flex-basis: 500px;
    max-width: 100%;
    max-height: 400px;
    width: 80%;
    margin-left: 2%;
  }

  #project2,
  #project3 {
    padding: 30%;
  }

  .project-text {
    left: 5%;
    bottom: 15%;
    font-size: 200%;
    padding: 3rem;
  }

  /* Footer styling */
  #footer h2 {
    font-size: 2em;
    padding-left: 45%;
    left: -6%;
  }

  #footer ul {
    flex-direction: column;
    align-items: center;
    margin-left: -5%;
  }
  #footer li {
    padding-top: 5%;
  }
  #footer {
    margin-top: -2%;
  }

  /* Resume page styling */
  #resume {
    margin-left: 32%;
    font-size: 1.5rem;
  }
  #resume ul {
    margin-left: 10%;
  }
  #resume-download {
    margin-left: -10%;
  }
  #resume-title {
    left: 0;
    text-align: center;
  }
  /* Contact page styling */
  #contact-container h1 {
    margin-left: 31%;
    font-size: 5rem;
  }
  #requirements {
    text-align: center;
  }
  .form {
    margin-left: 20%;
  }

  .form input {
    width: 75%;
  }
  #textarea {
    padding: 0 48% 5% 0;
  }
  #submit-button {
    margin-left: 27%;
    padding: 0.5rem 2.5rem;
  }
}
